<html>
<head>
<style type="text/css">
	body{
		font-family: monospace;
	}
	.clowns{
		background-color: red;
	}
	.bears{
		background-color: brown;
	}
</style>
</head>
<body>
<h1 class="<%= @site_name %>">Hello <%= @site_name %></h1>
<p>Look at my awesome chef books!</p>
<p><img src="http://i.giphy.com/14q9faQbmSMy6A.gif"></p>
<p><small><%= node["ipaddress"] %>:<%= @port %></small></p>
</body>
</html>